body {
  margin: 0;
  padding: 0;
}
.paper-fold ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 360px;
  background: #fff;
  display: flex;
}
.paper-fold ul li {
  list-style: none;
  width: 25%;
  /* background: #ccc; */
  background: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transition: 0.5s;
}
.paper-fold ul:hover li:nth-child(odd) {
  transform: skewY(15deg);
  box-shadow: inset 20px 0px 50px rgba(0, 0, 0, 0.5);
}
.paper-fold ul:hover li:nth-child(even) {
  transform: skewY(-15deg);
  box-shadow: inset 20px 0px 50px rgba(0, 0, 0, 0.5);
}

.paper-fold ul li:nth-child(1) {
  background-position: 0;
}
.paper-fold ul li:nth-child(2) {
  background-position: -160px;
}
.paper-fold ul li:nth-child(3) {
  background-position: calc(-160px * 2);
}
.paper-fold ul li:nth-child(4) {
  background-position: calc(-160px * 3);
}
